<!doctype html>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

<html>

<head>
    <title>Julia Klugherz</title>
</head>

<body>
    <div id="base">
        <h1>Julia Klugherz</h1>
        <div id="menu_bar">
            juliaklugherz(@)gmail.com | 215-718-5073 | <a href="https://www.linkedin.com/in/jklugherz/">linkedin.com/in/jklugherz/</a>
        </div>
        <div id="description">
            hello, welcome to my website.
        </div>
    </div>

</body>

</html>